
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>PhoneNo</th>
            <th>TotalTables</th>
            <th align="right">Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let temProd of restaurants">
            <td>{{temProd.name}}</td>
            <td>{{temProd.category}}</td>
            <td>{{temProd.phoneNo}}</td>
            <td>{{temProd.totalTables}}</td>
            <td>{{temProd.address}}</td>
        </tr>
    </tbody>
</table>

<br/> 
<br/> 
 <div class="container" style="width: 50%;">
        <h2 class="card-title mt-4">Restaurant Details</h2>
        <form [formGroup]="restaurantForm" (ngSubmit)="saveRestaurant()">                                    
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>        
                <input type="text" id="name" formControlName="name" class="form-control"  required>    
            </div>
            <div class="mb-3">               
                <label for="date" class="form-label">phoneNo:</label>                    
                <input type="text"  id="phoneNo" formControlName="phoneNo" class="form-control" required>       
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">category :</label>
                <input type="text" id="category" formControlName="category" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="totalTables" class="form-label">totalTables : </label>
                <input type="text" id="totalTables" formControlName="totalTables" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address : </label>
                <input type="text" id="address" formControlName="address" class="form-control" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" [disabled]="!restaurantForm.valid">Add Restaurant</button>
            </div>
        </form>
        <div *ngIf="isRestaurantSaved" class="mb-3"  id="divshow" > 
            <h5>Restaurant Saved Successfully</h5>                      
        </div>
        
</div>
  

    

